page-tab-more {
  #header{
    display: block;
    background-color: #f9f9f9;
    background-size: 100% 44px;
    width: 100%;
    height:44px;
    overflow: hidden;
  }

  .header-left{
    width: 40px;
    height:40px;
    position: absolute;
  }

  .header-left img{
    width: 100%;
    height:100%;
    padding: 10px;
  }

  .header-center{
    display: flex;
    height: 44px;
    position: absolute;
    left: 40px;
    right: 40px;
    align-items: center;
    justify-content: center;
  }

  .header-center span{
    font-size: 17px;
    color: #616161;
  }
  .header-right{
    width: 40px;
    height: 44px;
    position: absolute;
    right: 0;
  }

  .content{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    background-color: #f3f5f7;
  }
  .content #username{
    width: 90%;
    margin: 15px 5px 0 5px;
    border-radius: 5px;
    border: 1px solid #eee;
    background-color: white;
  }

  .password-content{
    display: flex;
    flex-direction: row;
    border: 1px solid #eeeeee;
    background-color: white;
    width: 90%;
    margin: 15px 5px 0 5px;
    border-radius: 5px;
  }

  .content #password{
    type:"password"
  }

  #btn_login{
    width: 90%;
    height:45px;
    margin: 0 5px;
    border-radius: 5px;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    background-color: #EEEEEE;
  }

  #register{
    width: 90%;
    height:45px;
    margin: 0 5px;
    border-radius: 5px;
    border: 1px solid red;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 25px;
    background-color: white;
  }

  .div_login_check{
    width: 90%;
    margin: 0 5px;
    display: flex;
    margin-top: 15px;
  }

  #checkbox_login{

  }

  .div_bttom_function{
    width: 90%;
    margin: 10px 5px 0 5px;
    display: flex;
    justify-content: space-between;
  }

}
